html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition: all .4s .3s;
  padding: 24px;
}

*, :after, :before {
  box-sizing: inherit;
}

#root {
  height: 100%;
}
